
<div class="container">

  <form>
    <h1>{{title}}</h1>

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="form.name" required placeholder='Digite seu nome' name='name'>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Nome é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="form.email" required [formControl]="emailFormControl" placeholder='Digite seu melhor email' name='email'>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Insira um email válido
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Motivação</mat-label>
      <input matInput  #motivation maxlength="256" [(ngModel)]="form.motivation" placeholder='Qual é a sua motivação para esse cargo' name='motivation'>
      <mat-hint align="end">{{motivation.value.length}} / 256</mat-hint>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Qual é o cargo desejado?</mat-label>
      <mat-select [(ngModel)]="form.role" name="role" required>
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{role.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="roleFormControl.hasError('required')">
        Cargo é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
      <mat-form-field>
        <mat-label>Deixe algum comentário</mat-label>
        <textarea matInput placeholder="Ex. acho que..." [(ngModel)]="form.message" name='message'></textarea>
      </mat-form-field>

      <input type="file" class="file-input"
       (change)="inputFileChange($event)" #fileUpload>

      <div class="file-upload">

        {{fileName || "Envie-nos seu currculo."}}
        *
          <button mat-mini-fab color="primary" class="upload-btn" (click)='fileUpload.click()'>
              <mat-icon>attach_file</mat-icon>
          </button>
      </div>
      <button type="submit" class='btn' mat-raised-button color="primary" (click)='sendMessage()'>Enviar</button>
    </form>
  </div>

